.title {
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.dashed {
    border-bottom: 2px dashed #5d5d5d;
}

.solid {
    border-bottom: 2px solid #da966e;
}

@media (max-width: 639px) {
    .title {
        font-size: 14px;
    }
}
