.card-detail-img {
    width: 100%;
    border: none;
}

.btn-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border: 3px dashed black;
    border-radius: 20%;
    padding: 10px;
    animation: rotate100 2s linear infinite;
}

.card-detail-btn {
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.btn-watch {
    width: 100%;
    background-color: orange;
    border: none;
    color: white;
    cursor: pointer;
}

@keyframes rotate100 {
    25% {
        border-right: 3px dashed red;
    }
    50% {
        border-bottom: 3px dashed red;
    }
    75% {
        border-left: 3px dashed red;
    }
    100% {
        border-top: 3px dashed red;
    }
}