@media (max-width: 639px) {
    .pageContainer {
        padding: 0px 20px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .pageContainer {
        padding: 0px 80px !important;
    }
}
