.nav__item--has-sub:hover .nav__link--button {
    color: oklch(82.8% 0.189 84.429);
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 639px) {
    .headerBottom, .headerTop {
        padding: 10px 8px !important;
        font-size: 14px !important;
    }

    .header-user-info {
        display: none !important;
    }
}

@media (min-width: 640px) and (max-width: 1023px) {
    .headerBottom, .headerTop {
        width: 100%;
        padding: 10px 40px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .headerBottom, .headerTop {
        padding: 10px 80px !important;
    }
}

@media (min-width: 1280px) {
    .headerBottom, .headerTop {
        padding: 10px 288px !important;
    }
}