.carousel__viewport {
  overflow: hidden;
}

.carousel__track {
  transition: transform 0.5s ease;
}

.carousel__page {
  transition: transform 0.3s ease-in-out;
}

.slide-left {
  transform: translateX(-100%);
}

.slide-right {
  transform: translateX(100%);
}